body {
	margin: 0;
	padding: 0;
	text-align: center;
	display: block;
	background-color: #f9f9f9;
	font-size: 1.1em;
	font-family: 'Raleway', sans-serif;
	color: #6d6d6d;
}

header {
	background-color: #f9f9f9;
	padding: 1em;
	height: 3em;
}

nav {
	float: right;
	padding: 1em;
	display: block;
	margin-right: 50px;
}
nav img {
	width: 20px;
}

nav a {	
  text-decoration: none;
  color: #000;
  margin: 1.8em;
  padding: 10px;
}

a:hover {
	color: #ed5b9e;
}

#logo {
	float: left;
	width: 50px;
	margin-left: 100px;
}

#logo2 {
	display: none;
}

#home {
	padding-top: 2em;
	background-color: #f9f9f9;
}
#home p{
	font-size: 1.2em;
	color: #e892ba;
	letter-spacing: 1.5px;
}

#home h1 {
	font-family: 'Pacifico', cursive;
	font-size: 4em;
	font-weight: lighter;
	color: #ed5b9e;
}

ul {
	display: inline;
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: block;
    float: left;
}


h2 {
	font-family: 'Pacifico', cursive;
	font-size: 2.5em;
	color: #91c4b5;
	margin-bottom:0em;
}

#about {
	text-align: center;
	width: 100%;
	background-color: #fff;
	height: 400px;
	padding-top: 15px;
}

#work {
	display: block;
	background-color: #f9f9f9;
	padding-top: 20 0 20 0;
	clear: both;
}

footer {
	background-color: #f9f9f9;
	font-size: .5em;
	clear: both;
	color: #e892ba;
}

footer a{
	text-decoration: none;
	font-size: 2em;
	color: #ccc;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
label {
  text-decoration: none;
  color: #000000;
  margin: 1.8em;
  display: none;
}
#toggle{
	display: none;
}


@media only screen and (max-width: 800px) {
 	nav {
    	float: right;
    	margin-right: 0px;
 	}		
 	nav a {	
  		text-decoration: none;
  		color: #000;
		padding: 15px;
		margin: 0;
	}
	nav img {
		width: 20px;
		padding-left: 20px;
    	margin: 0;
    	float: left;
	}
 	 img {
    	width: 30%;
  	}
 	 img.banner {
		width: 100%; 
	}
	#logo {
		width: 20%;
		margin-left: 10px;
	}
	#about {
		text-align: center;
		font-size: 1em;
		height: 440px;
		padding-top: 30px;
		}
	#about p {
		padding: 0 50px 0 50px;
		}



@media only screen and (max-width: 480px) {
  		h1 {
    		display: block;
    		text-align: center;
    		font-size: 3em;
    		color: #91c4b5;
  		}
 		h2 {
			font-size: 2em;
 		 }

		img {
    		width: 70%;
  		}

		#home {
			background-color: #f9f9f9;
		}
		#home h1 {
			color: #91c4b5;
		}
		#home p {
			float: none;
			text-align: center;
			padding: 0 50px 0 50px;
			color: #91c4b5;
		}
		header {
			background-color: #ed5b9e;
			padding: 1em;
			height: 1.5em;
		}
		#about {
			text-align: center;
			font-size: 1em;
			height: 420px;
			padding-top: 30px;
		}
		#about p {
			padding: 0 30px 0 30px;
		}
		#about img {
			width: 50%;
		}
		#work {
		}
		#work img {
			width: 55%;
		}
		#logo2 {
			display: block;
			width: 100%;
			color: #f9f9f9;
		}
		#logo {
			display: none;
		}
		label {
			display: block;
			float: none;
		}

		nav {
			display: none;
			float: none;
    		margin: 0;
    		padding: 0;
		}
		li {
			width: 90%;
    		border-top: solid 1px;
    		border-color: #fff;
    		padding: 20px 0 20px 0;
  		}
		nav a {	
  			text-decoration: none;
  			color: #000;
  			margin: 0;
  			padding: 20px;
		}
		nav img {
			width: 10%;
			text-align: center;
			padding-left: 140px;
		}
		#toggle:checked + nav{
			display: block;
			padding-left: 2em;
		}
		footer {
			background-color: #f9f9f9;
			font-size: .5em;
			clear: both;
		}
