body {
	text-align: center;
	display: block;
	background-color: #FFF;
	font-size: 14px;
	font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

header {
	background-color: #fcfcf3;
	padding: 20px;
	font-size: 14px;
}

#logo {
	float: left;
	padding: 20px;
}

#navigation {
	float: right;
	padding: 20px;
}

#top {
	padding-top: 50px;
	background-color: #f9f9f9;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    display: block;
    float: left;
    padding-left: 15px;
}

a {
	color: #000;
	text-decoration: none;
}

h1 {
	font-family: 'Pacifico', cursive;
	font-size: 45px;
	font-weight: lighter;
	color: #91c4b5;
}

h2 {
	font-family: 'Pacifico', cursive;
	font-size: 32px;
	font-weight: lighter;
	color: #91c4b5;
}

#about {
	display: block;
	padding-top: 50px;
}

.content {
	display: block;
	padding: 30px;
	width: 60%;
	height: 20%;
}


